node_modules
.cache/
.vscode/
server/*
!server/README.md
!server/start_local_server.sh

build/llamacpp
aos/process/libs

**/*.so
**/process.js
**/process.wasm
**/package-lock.json
**/yarn.lock

*wallet.json
